<div id="footer">
	<div id="footer_overlay">
		<div id="footer_content">
			<center>
				&copy; SmallURL %%YEAR%% - <i>Smallifying URL's with safety and precaution in mind.</i>
			</center>
		</div>
	</div>
</div>