Hey %%username%%,<br />
Thanks for registering your account on the SmallURL website,<br />
before you can use all of the features to your advantage please<br />
verify your account.<br />
<br />
To verify your account click the following link:<br />
	<a href="http://account.smallurl.in/reset/%%key%%/">http://account.smallurl.in/reset/%%key%%/</a><br />
<br />
If you're worried about clicking the above link navgiate to the SmallURL Account Center and click "Reset Manually"<br />
on the warning message and enter the following Code: <b>%%key%%</b> (Assuming you have access to your account but cant log out for the fear of not getting back in)<br />
<br />
Thanks,<br />
The SmallURL Team