    </div>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src='//static.<?php echo SITE_URL;?>/global/js/thirdparty/bootstrap.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js'></script>
    <script src='http://cdn.oesmith.co.uk/morris-0.4.3.min.js'></script>
    <script src='//static.<?php echo SITE_URL;?>/global/js/thirdparty/morris.js'> </script>
    <script src='//static.<?php echo SITE_URL;?>/global/js/thirdparty/tablesorter.js'> </script>
    <script src='//static.<?php echo SITE_URL;?>/global/js/thirdparty/tables.js'> </script>
</body>
</html>