<html>
	<head>
		<title>SmallURL - Error </title>
		<link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<style>
			html, body {
				margin: 0;
				padding: 0;
				position: inherit;
				background-color: #e5e5e5;
				font-family: 'Open Sans', sans-serif;
			}
			#container {
				width: 400px;
				height: 500px;
				background-color: white;
				border: 1px solid #666;
				position: absolute;
				margin: -250px 0 0 -200px;
				left: 50%;
				top: 50%;
			}
			h1,h2,h3,h4,h5 {
				color: #111;
				text-align: center;
				padding-left: 15px;
				padding-right: 15px;
			}
		</style>
	</head>
	<body>
		<div id='container'>
			<img src='//static.smallurl.in/img/dark_nobg.png' style='width: 150.5px;height: 150.5px;text-align: center;margin: auto;display: block;margin-top: 10px;'/>
			<h2> Blacklisted! </h2>
			<h4>
				It appears that your IP Address (%%IP%%) has been blacklisted by SmallURL.
				<br/><br/>
				<b>%%REASON%%</b>
			</h4>
			<br/>
			<h4>
				Contact support to find out how to appeal.
			</h4>
		</div>
	</body>
</html>
