<div id="page-wrapper">
<?php $this->theme->title("Reports", "Reported Users and URLs", array("Reported Users and URLs")); ?>
<table class="table table-hover">
	<tr>
		<td><h2>Reported Users</h2></td>
		<td style="text-align:right;"><a href="/report/users"><h2><i class="fa fa-arrow-circle-right"></i></h2></a></td>
	<tr>
	<tr>
		<td><h2>Reported URLs</h2></td>
		<td style="text-align:right;"><a href="/report/urls"><h2><i class="fa fa-arrow-circle-right"></i></h2></a></td>
	<tr>
	<tr>
		<td><h2>Reported Apps</h2></td>
		<td style="text-align:right;"><a href="/report/apps"><h2><i class="fa fa-arrow-circle-right"></i></h2></a></td>
	<tr>
</table>
</div>